<ul class="nav nav-tabs">
   <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
   </li>
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filters</a>
      <div class="dropdown-menu">
         <a class="dropdown-item" href="/Tangents">Tangents</a>
         <a class="dropdown-item" href="/Stabile">Stabile</a>
         <a class="dropdown-item" href="/Lateralus">Lateralus</a>
         <a class="dropdown-item" href="/Rescomb">Rescomb</a>
      </div>
   </li>
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Effects</a>
      <div class="dropdown-menu">
         <a class="dropdown-item" href="/Debriatus">Debriatus</a>
      </div>
   </li>
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Units</a>
      <div class="dropdown-menu">
         <a class="dropdown-item" href="/Trummor">Trummor</a>
         <a class="dropdown-item" href="/Trummor2">Trummor 2</a>
      </div>
   </li>
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Utilities</a>
      <div class="dropdown-menu">
         <a class="dropdown-item" href="/Splie">Splie</a>
      </div>
   </li>
   <li class="nav-item">
      <a class="nav-link" href="/Download">Download</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" href="/About">About</a>
   </li>
</ul>